[Unit]
Description=Geth Ethereum Execution Client
After=network-online.target
Wants=network-online.target
RequiresMountsFor={{ ethereum_ancient_mount }}

[Service]
User=ethereum
Group=ethereum
Type=simple

ExecStart=/usr/bin/geth \
    --sepolia \
    --datadir /var/lib/ethereum/geth \
    --datadir.ancient {{ ethereum_ancient_mount }} \
    --history.chain=postmerge \
    --http \
    --http.addr 127.0.0.1 \
    --http.port 8545 \
    --http.api eth,net,web3 \
    --authrpc.addr 127.0.0.1 \
    --authrpc.port 8551 \
    --authrpc.vhosts localhost \
    --authrpc.jwtsecret /var/lib/ethereum/jwt/jwt.hex \
    --port 30303 \
    --metrics \
    --metrics.addr {{ ethereum_monitoring_ip }} \
    --metrics.port 6060

Restart=on-failure
RestartSec=5

LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
