[Unit]
Description=Prometheus Node Exporter
Documentation=https://prometheus.io/docs/guides/node-exporter
After=network-online.target
Wants=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple

ExecStart=/usr/local/bin/node_exporter \
    --web.listen-address={{ ethereum_monitoring_ip }}:9100

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target