apiVersion: 1

providers:
  - name: "Blockchain SRE"
    orgId: 1
    folder: "Blockchain SRE"
    type: file
    disableDeletion: true
    editable: false
    updateIntervalSeconds: 30
    options:
      path: /var/lib/grafana/dashboards